.login-container {
    display: flex;
    justify-content: center;
}

.login-box {
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    margin-top: 3%;
    text-align: center;
}

.title {
    margin-top: 16%;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#password,
#username {
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    background-color: #F2F2F2;
    margin-top: 5%;
}

#password:focus,
#username:focus {
    outline: none !important;
    border: 1px solid #000000;
}

.submit-button {
    width: 200px;
    height: 30px;
    margin-top: 10%;
}

.submit-button:hover {
    cursor: pointer;
    color: #403f3f;
}

.register-link {
    text-decoration: none;
    color: #000000;
}

.successful-login {
    color: #000000;
    font-weight: 600;
    margin-top: 5%;
}

.wrong-input {
    color: red;
    font-weight: 600;
}

#login {
    margin-left: 5%;
    padding: 1%;
    width: 45%;
    border-radius: 3px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
}