.user-container {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    width: 35%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 30px;
}

.user {
    display: flex;
}

.user-profile-image {
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.user-data {
    margin: 5%;
}

.user-edit-button {
    width: 150px;
    height: 30px;
    border: 1px solid #DDDDDD;
    background-color: #F2F2F2;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 3%;
}

.user-edit-button:hover {
    border: 1px solid #000000;
    background-color: #CCCCCC;
    transition: all 0.3s ease-in-out;
}